/* mobile devices  */
@media screen and (max-width:600px) {

    .nav-container,
    .nav-right,
    .banner-search,
    .popular-tours-container,
    .destination-place,
    .services,
    .promotion-container,
    .newsletter-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    * {
        max-width: 370px;
    }

    .btn-primary {
        width: 310px;
        height: 52px;
    }

    .promotion {
        height: 500px;
    }

    .banner-heading h1 {
        font-size: 2rem;
    }
    .footer-heading {
        padding: 20px;
    }
    .footer-paragraph {
        padding: 10px;
    }
}
@media screen and (min-width:600px) and (max-width:972px){
    
}