/* universal styles */
* {
    font-family: 'Mulish', sans-serif;
    margin: 5px;
    justify-content: center;
    text-align: center;
    max-width: 1400px;
}

body {
    margin: 0 auto;
}

/* nav styles */
.nav-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-right {
    display: flex;
    text-align: center;
    gap: 40px;
}

nav a {
    text-decoration: none;
}

/* banner styles */
.banner-container {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Group\ 13\ \(1\)\ \(1\).png);
    width: 1170px;
    height: 500px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
}

.banner-heading {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.banner-heading h1 {
    color: #FFF;
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
}

.banner-paragraph p {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.banner-search {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    background-repeat: no-repeat;
}

.banner-search select {
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    padding: 16px 84px 16px 16px;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    padding: 16px 0px;
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
}

/* popular tour styles */
.popular-tours-container {
    display: flex;
    margin-bottom: 70px;
}

.popular-tours-text {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.popular-tours-text h1 {
    color: #131318;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}

/* destination styles */
.destination-container {
    margin-bottom: 70px;
}

/* section styles */
.service-container {
    margin-bottom: 70px;
    text-align: center;
    justify-content: center;
}

.service-1,
.service-2,
.service-3 {
    width: 573px;
    height: 284px;
}

.services {
    display: flex;
}

.services-1 h3,
.service-2 h3,
.service-3 h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 1.5rem;
    font-weight: 800;
}

.service-1 p,
.service-2 p,
.service-3 p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.service-1,
.service-3 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.service-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.service-3 {
    margin: 0 auto;
}

.service-paragraph {
    width: 643px;
    margin: 0 auto;
}

/* promotion styles */
.promotion-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
}

.promotion {
    width: 500px;
    height: 500px;
}

.promotion h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
    width: 448px;
}

.promotion p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: 532px;
}

.promotion li {
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
    line-height: 26px;
    width: 518px;
}

.promotion-video {
    border-radius: 16px;
    width: 610px;
    height: 424px;
}

/* newletter section styles */
.newsletter-container {
    display: flex;
}

.newsletter-1 {
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 474px;
    height: 422px;
}

.newsletter-1 h3 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    padding: 50px 0 0 0;
}

.newsletter-1 p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.newsletter-1 h5 {
    color: rgba(19, 19, 24, 0.30);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    background-size: 70%;
    text-align: center;
    width: 393px;
    height: 52px;
    width: 288px;
    padding: 16px 20px 10px 20px;
}

newsletter-2 {
    width: 672px;
    height: 422px;
}

/* footer styles  */
footer {
    background: rgba(19, 19, 24, 0.05);
    margin: 0;
    width: 1400px;
    height: 502px;
    margin-bottom: 0;
}

.footer-heading {
    display: flex;
    padding: 110px 400px 20px;
}

.footer-paragraph {
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: 769px;
    padding: 0 335px;
}

footer .footer-social {
    display: flex;
    margin: 0 auto;
}

footer h6 {
    color: #131318;
    font-size: 1rem;
    font-weight: 300;
    padding-top: 100px;
}